/* Variables */
/* Variables */
/* Variables */
.container {
  height: 50px;
}
.container p {
  color: #77b937;
  font-size: 20px;
}
.container small {
  color: #77b937;
}

/* Variables */
.hdr {
  display: flex;
}
.hdr ul {
  list-style: none;
}
.hdr a {
  font-size: 40px;
  color: #ffffff;
}
.hdr a:hover {
  color: #77b937;
}

body {
  max-height: 100px;
}
body header {
  margin-top: 20px;
}
body header nav a {
  margin: 20px 0 0 20px;
}
body header nav a img {
  height: 60px;
}
body header nav a:hover {
  margin: 20px 0 0 20px;
}

.container-pp {
  display: flex;
  flex-direction: row-reverse;
}
.container-pp .container-pp__text {
  margin: 0 30px;
  color: #ffffff;
  font-size: 23px;
  text-align: center;
  padding: 0px 5px;
  white-space: pre-line;
  background-color: #77b937;
}
.container-pp .container-pp__text h1 {
  color: #ffffff;
  text-decoration: underline;
}

.container-pp__table {
  margin: 30px;
}
.container-pp__table table {
  width: 600;
  height: 1000;
  color: #77b937;
  table-layout: fixed;
  border-collapse: collapse;
  border: solid 2px #ffffff;
  background-color: #77b937;
}
.container-pp__table table thead {
  background-color: #ffffff;
  text-transform: uppercase;
  font-size: 30px;
}
.container-pp__table table th {
  padding: 20px;
  border-right: solid 2px #ffffff;
  text-align: center;
  font-size: 20px;
}
.container-pp__table table #num {
  color: #ffffff;
  align-items: center;
}
.container-pp__table table tbody td {
  padding: 20px;
  border-bottom: solid 2px #ffffff;
}
.container-pp__table table tbody tr:hover {
  background: hsla(0, 0%, 100%, 0.503);
}
.container-pp__table table tbody input {
  width: 100px;
  height: 50px;
  font-size: 50px;
  color: #ffffff;
  text-align: center;
  background: none;
  border: none;
}
.container-pp__table table tbody #text-apod {
  width: 170px;
  height: 40px;
  font-size: 20px;
}

/* Variables */
body {
  max-height: 100vh;
  overflow: scroll;
}
body header {
  margin-top: 20px;
}
body header nav a {
  margin: 20px 0 0 20px;
}

.container-elim__table {
  display: grid;
  grid-template-areas: "table__first-column table__second-column table__third-column";
  grid-template-columns: 200px 200px 200px;
  grid-template-rows: 550px;
  grid-column-gap: 250px;
  justify-content: center;
  align-items: center;
  background-color: #77b937;
  border: 2px solid #ffffff;
  margin: 0 15px;
}
.container-elim__table p {
  color: #ffffff;
  text-transform: uppercase;
  font-size: 28px;
  text-align: center;
  margin: 0;
  padding: 0;
}
.container-elim__table input {
  background: none;
  border: #ffffff 2px solid;
  font-size: 20px;
  text-align: center;
  margin: 10px;
  color: #ffffff;
}
.container-elim__table input:hover {
  background: hsla(0, 0%, 100%, 0.503);
}
.container-elim__table .table__first-row {
  margin: 0 0 40px 0;
}

.container-elim__text {
  background-color: #77b937;
  border: #ffffff 2px solid;
  margin: 40px;
}
.container-elim__text h1 {
  margin: 10px 0 0 0;
  color: #ffffff;
  text-align: center;
  font-size: 35px;
  text-transform: uppercase;
  text-decoration: underline;
}
.container-elim__text p {
  color: #ffffff;
  font-size: 25px;
  text-align: center;
  margin: 20px 30px;
}

/* responsive */
@media screen and (max-width: 1200px) {
  .container-elim__table {
    grid-template-columns: 150px 150px 150px;
    grid-template-rows: 600px;
    justify-content: left;
    grid-column-gap: 250px;
  }
  .container-elim__table input {
    width: 180px;
  }
}
@media screen and (max-width: 1050px) {
  .container-elim__table {
    grid-column-gap: 200px;
  }
}
@media screen and (max-width: 928px) {
  .container-elim__table {
    grid-column-gap: 150px;
  }
}
@media screen and (max-width: 860px) {
  .container-elim__table {
    grid-column-gap: 130px;
  }
}
@media screen and (max-width: 890px) {
  .container-elim__table {
    grid-column-gap: 150px;
  }
  .container-elim__table input {
    width: 150px;
  }
}
@media screen and (max-width: 780px) {
  .container-elim__table {
    grid-column-gap: 100px;
  }
  .container-elim__table input {
    width: 130px;
  }
}
@media screen and (max-width: 690px) {
  .container-elim__table {
    grid-column-gap: 40px;
  }
  .container-elim__table input {
    width: 140px;
  }
}
@media screen and (max-width: 550px) {
  .container-elim__table {
    grid-column-gap: 20px;
  }
  .container-elim__table input {
    width: 140px;
  }
  .container-elim__table p {
    font-size: 20px;
  }
}
@media screen and (max-width: 490px) {
  .container-elim__table {
    grid-column-gap: 10px;
  }
  .container-elim__table input {
    width: 100px;
    height: 30px;
  }
  .container-elim__table p {
    font-size: 15px;
    text-align: left;
  }
}
@media screen and (max-width: 440px) {
  .container-elim__table {
    grid-column-gap: 5px;
    grid-template-columns: 90px;
    grid-template-rows: 490px;
  }
  .container-elim__table input {
    width: 80px;
    height: 25px;
  }
  .container-elim__table p {
    font-size: 15px;
  }
}
/* Variables */
body {
  max-height: 100vh;
}
body header {
  margin: 20px 0 0 0;
}

.container-help {
  display: grid;
  justify-content: center;
}
.container-help .accordion {
  width: 1200px;
}
.container-help .accordion-button {
  background-color: #77b937;
  color: #ffffff;
}
.container-help .accordion .accordion-button:focus {
  box-shadow: none;
}
.container-help .accordion .accordion-button:not(.collapsed) {
  color: #ffffff;
  background-color: #77b937;
  box-shadow: none;
}

.container-form {
  width: 600px;
  margin: 0 20px;
}

form {
  height: 200px;
  width: 640px;
  background-color: #77b937;
}
form .form-group label {
  color: #ffffff;
  margin-top: 10px;
}
form .form-control {
  background-color: #ffffff;
}

/*RESPONSIVE*/
@media screen and (max-width: 1200px) {
  .container-help .accordion {
    width: 1000px;
  }
}
@media screen and (max-width: 1000px) {
  .container-help .accordion {
    width: 900px;
  }
}
@media screen and (max-width: 850px) {
  .container-help .accordion {
    width: 800px;
  }
}
@media screen and (max-width: 750px) {
  .container-help .accordion {
    width: 700px;
  }
}
@media screen and (max-width: 650px) {
  .container-help .accordion {
    width: 600px;
  }
}
@media screen and (max-width: 550px) {
  .container-help .accordion {
    width: 500px;
  }
}
@media screen and (max-width: 450px) {
  .container-help .accordion {
    width: 400px;
  }
}
@media screen and (max-width: 350px) {
  .container-help .accordion {
    width: 300px;
  }
}

@media screen and (max-width: 650px) {
  form {
    width: 550px;
  }
}
@media screen and (max-width: 550px) {
  form {
    width: 450px;
  }
}
@media screen and (max-width: 450px) {
  form {
    width: 350px;
  }
}
@media screen and (max-width: 350px) {
  form {
    width: 250px;
  }
}
@media screen and (max-width: 650px) {
  form .form-control {
    width: 500px;
  }
}
@media screen and (max-width: 550px) {
  form .form-control {
    width: 400px;
  }
}
@media screen and (max-width: 450px) {
  form .form-control {
    width: 300px;
  }
}
@media screen and (max-width: 350px) {
  form .form-control {
    width: 200px;
  }
}

/* Variables */
/* Variables */
.part__boxs {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 0px;
  background-color: #3C6810;
  width: 95%;
  margin: 0 30px 10px 30px;
  border-radius: 5px;
}
.part__boxs option {
  background-color: #3C6810;
}
.part__boxs #box__fecha {
  width: 110px;
  background-color: transparent;
  border-color: transparent;
  color: #ffffff;
  font-size: 18px;
  align-content: center;
}
.part__boxs #box__fecha::placeholder {
  color: #ffffff;
}
.part__boxs select {
  background-color: transparent;
  color: #ffffff;
  width: 200px;
  height: 35px;
}
.part__boxs .num {
  width: 100px;
  font-size: 18px;
}
.part__boxs select :focus {
  border-color: transparent;
}
.part__boxs img {
  height: 40px;
}

.box__selects {
  display: flex;
  margin-right: 20px;
}
.box__selects select {
  margin-right: 10px;
}
.box__selects .btn-outline-danger {
  margin-left: 10px;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Open Sans", sans-serif;
  font-family: "Roboto", sans-serif;
}

.container-partidas-arch__title h1 {
  text-align: center;
  color: #ffffff;
  margin: 0 0 35px 0;
  font-size: 30px;
}

.container-partidas-arch__body {
  display: flex;
  justify-content: center;
  align-items: center;
}
.container-partidas-arch__body .table-partidas-arch {
  width: 90%;
  border-radius: 10px;
}
.container-partidas-arch__body .table-partidas-arch .table-thead {
  background-color: #ffffff;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
.container-partidas-arch__body .table-partidas-arch .table-thead p {
  text-align: left;
  font-weight: 700;
  padding: 5px;
}
.container-partidas-arch__body .table-partidas-arch .table-tbody {
  background-color: #77b937;
  height: 500px;
  margin: 0;
  padding: 0;
}
.container-partidas-arch__body .table-partidas-arch .table-tbody .table-tbody__local {
  display: flex;
  justify-content: center;
}
.container-partidas-arch__body .table-partidas-arch .table-tbody .table-tbody__local p {
  background-color: #3C6810;
  color: #ffffff;
  border: #000000 2px solid;
  text-align: center;
  font-size: 30px;
  width: 95%;
  padding: 5px 0;
  margin: 10px 0;
}
.container-partidas-arch__body .table-partidas-arch .table-tbody .table-tbody__part p {
  color: #ffffff;
  font-weight: 700;
  margin-left: 10px;
}
.container-partidas-arch__body .table-partidas-arch .table-tbody .table-tbody__button {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}
.container-partidas-arch__body .table-partidas-arch .table-tbody .table-tbody__button button {
  background-color: #3C6810;
  width: 150px;
  padding: 10px 0;
  border: solid 1px #ffffff;
  border-radius: 5px;
  text-align: center;
  color: rgba(255, 255, 255, 0.726);
}

/* Variables */
body::-webkit-scrollbar {
  width: 3px;
  background-color: black;
}

body::-webkit-scrollbar-thumb {
  background-color: #77b937;
  border-radius: 5px;
  height: 5px;
}

* {
  margin: 0;
  padding: 0;
  font-family: "Open Sans", sans-serif;
  font-family: "Roboto", sans-serif;
}

body {
  background-image: url(../img/fndo.png);
  position: relative;
  padding-bottom: 200px;
  min-height: 100vh;
  overflow-x: hidden;
}

/*# sourceMappingURL=style.css.map */
