/* Variables */
$primary-color:#77b937;
$secondary-color:#ffffff;

//Pages
@use './scss-pages/por-puntos';
@use './scss-pages/eliminatorias';
@use './scss-pages/help';
@use './scss-pages/partidas-arch';

//Scrollbar
@use './layout/scrollbar';


*{
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Roboto', sans-serif;
}

body{
    background-image: url(../img/fndo.png);
    position: relative;
    padding-bottom: 200px;
    min-height: 100vh;
    overflow-x: hidden;
}













