/* Variables */
$primary-color:#77b937;

body::-webkit-scrollbar{
    width: 3px;
    background-color: black;
}

body::-webkit-scrollbar-thumb{
    background-color: $primary-color;
    border-radius: 5px;
    height: 5px;
}