/* Variables */
$primary-color:#77b937;
$secondary-color:#ffffff;

.container-comojugar__title{
    h1{
        text-align: center;
        color: $secondary-color;
        margin: 0 0 50px 0;
        font-size: 30px;
    }
}

.container-comojugar__body{
    width: 70%;
    justify-content: center;
    img{
        width: auto;
    }
}