@use '../layout/footer';
@use '../layout/header';

/* Variables */
$primary-color:#77b937;
$secondary-color:#ffffff;
$form: true;


body{
    max-height: 100vh;

    header{
        margin: 20px 0 0 0;
    }
}

    .container-help{
        display: grid;
        justify-content: center;

        .accordion{
        width: 1200px;

        &-button{
            background-color: $primary-color;
            color: $secondary-color;
            }
        .accordion-button:focus{
            box-shadow: none;
        }
        .accordion-button:not(.collapsed){
            color: $secondary-color;
            background-color: $primary-color;
            box-shadow: none;
        }
        }
    } 
    
    .container{
        &-form{
            width: 600px;
            margin: 0 20px;
        }
    } 

    form{
        height:200px ;
        width:640px ;
        background-color: $primary-color;

        .form-group label{
            color: $secondary-color;
            margin-top: 10px;
        }



        .form-control{
            @if $form == true {
                background-color: $secondary-color; // Aplicar blanco si es verdadero
            } @else {
                background-color: red; // Aplicar rojo si es falso
            }
        }
    }



    //mixins
    @mixin md($medida : 480px){
        @media screen and (max-width: $medida){
            @content;
        }
    }
    
    /*RESPONSIVE*/


    .container-help{
        .accordion{
            @include md(1200px){ width: 1000px;}
            @include md(1000px){ width: 900px;}
            @include md(850px){ width:800px;}
            @include md(750px){ width:700px;}
            @include md(650px){ width:600px;}
            @include md(550px){ width:500px;}
            @include md(450px){ width:400px;}
            @include md(350px){ width:300px;}
        }
    }

    form{
        @include md(650px){ width:550px;}
        @include md(550px){ width:450px;}
        @include md(450px){ width:350px;}
        @include md(350px){ width:250px;}
        .form-control{
            @include md(650px){ width:500px;}
            @include md(550px){ width:400px;}
            @include md(450px){ width:300px;}
            @include md(350px){ width:200px;}
        }
    }
