@use '../layout/footer';
@use '../layout/header';

/* Variables */
$primary-color:#77b937;
$secondary-color:#ffffff;
$form: true;


body{
    max-height: 100vh;

    header{
        margin: 20px 0 0 0;
    }
}

    .container-help{
        display: grid;
        justify-content: center;

        .accordion{
        width: 1200px;

        &-button{
            background-color: $primary-color;
            color: $secondary-color;
            }
        .accordion-button:focus{
            box-shadow: none;
        }
        .accordion-button:not(.collapsed){
            color: $secondary-color;
            background-color: $primary-color;
            box-shadow: none;
        }
        }
    } 
    
    .container{
        &-form{
            width: 600px;
            margin: 0 20px;
        }
    } 

    form{
        height:200px ;
        width:640px ;
        background-color: $primary-color;

        .form-group label{
            color: $secondary-color;
            margin-top: 10px;
        }



        .form-control{
            @if $form == true {
                background-color: $secondary-color; // Aplicar blanco si es verdadero
            } @else {
                background-color: red; // Aplicar rojo si es falso
            }
        }
    }



    /*RESPONSIVE*/

    //mixins
   