/* Variables */
$primary-color:#77b937;
$secondary-color:#ffffff;


@use '../layout/box';

body{
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Roboto', sans-serif;
}

.container-partidas-arch__title{
    h1{
        text-align: center;
        color: $secondary-color;
        margin: 0 0 35px 0;
        font-size: 30px;
    }
}

.container-partidas-arch__body{
    display: flex;
    justify-content: center;
    align-items: center;

    .table-partidas-arch{
        width: 90%;
        border-radius: 10px;

        .table-thead{
            background-color: $secondary-color;
            border-top-left-radius: 10px;
            border-top-right-radius: 10px;
            p{
                text-align: left;
                font-weight: 700;
                padding: 5px;
            }
        }

        .table-tbody{
            background-color: $primary-color;
            height: 500px;
            margin: 0;
            padding: 0;
            

            .table-tbody__local{
                display: flex;
                justify-content: center;
                p{
                    background-color: #3C6810;
                    color: $secondary-color;
                    border: #000000 2px solid;
                    text-align: center;
                    font-size: 30px;
                    width: 95%;
                    padding: 5px 0;
                    margin: 10px 0;
                    
                }
            }

            .table-tbody__part{
                
                p{
                    color: $secondary-color;
                    font-weight: 700;
                    margin-left: 10px;
                }                
            }

            .table-tbody__button{
                display: flex;
                justify-content: center;
                margin-top: 20px;
                button{
                    background-color: #3C6810;
                    width: 150px;
                    padding: 10px 0;
                    border: solid 1px $secondary-color;
                    border-radius: 5px;
                    text-align: center;
                    color: rgba(255, 255, 255, 0.726);
                    
                }
            }
        }
    }
}