/* Variables */
$primary-color:#77b937;
$secondary-color:#ffffff;

@use '../layout/footer';
@use '../layout/header';




body{
    max-height: 100px;

    header{
        margin-top: 20px;

        nav a{
            margin: 20px 0 0 20px;

            img{
                height: 60px;
            }
        }

        nav a:hover{
            margin: 20px 0 0 20px;

            
        }
    }
}


.container-pp{
    display: flex;
    flex-direction:row-reverse;


    .container-pp__text{
        margin: 0 30px;
        color: $secondary-color;
        font-size: 23px;
        text-align: center;
        padding: 0px 5px;
        white-space: pre-line;
        background-color: $primary-color;
        box-shadow: 3px 5px 5px rgba(0, 0, 0, 0.3);

        h1{
        color: $secondary-color;
        text-decoration: underline;
        }
    }
}

.container-pp__table{
    margin: 30px;   


    table{
        width:600 ;
        height:1000 ;
        color: $primary-color;
        table-layout: fixed;
        border-collapse: collapse;
        border: solid 2px $secondary-color;
        background-color: $primary-color;

        thead{
            background-color: $secondary-color;
            text-transform: uppercase;
            font-size: 30px;
        }

        th{
            padding: 20px;
            border-right: solid 2px $secondary-color;
            text-align: center;
            font-size: 20px;
            }

        #num{
            color: $secondary-color;
            align-items: center;
            }

        tbody{
                td{
                padding:20px;
                border-bottom: solid 2px $secondary-color;
                }
                tr:hover{
                background: hsla(0, 0%, 100%, 0.503);
                }

                input{
                width: 100px;
                height: 50px;
                font-size: 50px;
                color: $secondary-color ;
                text-align: center;
                background: none;
                border: none;
                }   

                #text-apod{
                width: 170px;
                height: 40px;
                font-size: 20px;
                }
            }
    }
}

//mixins
@mixin md($medida : 480px){
    @media screen and (max-width: $medida){
        @content;
    }
}

//responsive

@media screen and (max-width: 1080px){
    .container-pp{
        display: block;
    }
}

.container-pp__text{
    @include md(600px){ width: 590px;}
    @include md(500px){ width: 490px;}
    @include md(400px){ width: 390px;}
    @include md(300px){ width: 290px;}
}

table{
    @include md(770px){ width: 600px;}
    @include md(640px){ width: 550px;}
    @include md(500px){ width: 400px;}
    @include md(400px){ width: 300px;}
    @include md(300px){ width: 200px;}


    #num{
    @include md(640px){ padding: 10px;}
    }
}


